@media(min-width: 574px) {
  .yr {
    font-size: 25px;
  }
  .mmdd {
    font-size: 53px;
    color: rgb(41, 125, 246);
  }
}
@media(max-width: 575px) {
  .yr {
    font-size: 13px;
    padding-top: 20px;
    padding: none;
    margin: none;
  }
  .mmdd {
    font-size: 18px;
    color: rgb(41, 125, 246);
    padding: none;
    margin: none;
  }
  .mainTitle {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.block {
  display: inline-block;
  word-break: keep-all;
  text-align: center;
}
.btnWithIcon {
  vertical-align: middle !important;
  display: inline-flex !important;
  text-decoration: none !important;
}